* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  color: #111;
  height: 100%;
}
a:hover,
a:focus {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  height: 100%;
}
img {
  width: 100%;
}
div,
header,
section,
footer {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
@font-face {
  font-family: "MaruBuri-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}
html,
body {
  font-family: "Noto Sans KR";
}

@font-face {
  font-family: "OTWelcomeRA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 노트북 버전 */
@media screen and (max-width: 1600px) { 
}

/* 태블릿 버전 */
@media screen and (max-width: 1200px) {
  header {
    background-color: rgba(0, 0, 0, 0.2);
  }
  header .header_wrap {
    padding: 1.2vw 4vw;
  }
  header .header_wrap .logo {
    width: 12.2vw;
    height: 4vw;
  }
  header .header_wrap nav {
    display: none;
  }
  header .header_wrap .menu {
    width: 3vw;
    height: 3vw;
  }
  section{height: auto;}
  section.visual{
    height: 100vh;
  }
  section.visual .swiper .swiper-slide .main_txt {
    line-height: 4.5vw;
  }
  section.visual .swiper .swiper-slide .main_txt i {
    width: 6vw;
  }
  section.visual .swiper .swiper-slide .main_txt h1 {
    font-size: 3.5vw;
  }
  section.visual .swiper .swiper-slide .main_txt p {
    font-size: 1.8vw;
  }
  section.visual .swiper .swiper-slide .main_txt h5 {
    font-size: 1.5vw;
  }

  /* 태블렛 s1 */
  section.s1 .center{
    margin:0 auto;
    padding-left: 4vw;
    width: 80vw;
    flex-flow: row wrap ;
  }
  section.s1 .company_txt span{
    display: block;
    text-align: center;
    font-size: 2vw;
  }
  section.s1 .company_txt h1{
    text-align: center;
    font-size: 3vw;
  }
  section.s1 .company_txt p {
    margin-top: 3vw;
    text-align: center;
    font-size: 1.5vw;
    letter-spacing: -0.01vw;
    line-height: 3vw;
  }  
  section.s1 .company_img{
    transition-delay: 0.7s;
  }

  /* 태블렛 s2 */
  section.s2{height: 100vh; margin-top: 20vw; }
  section.s2 .center{ width: 100%;}
  section.s2 .center span {
    font-size: 2vw;
    color: #888;
    letter-spacing: 0.3vw;
    margin-left: 2vw;
  }
  section.s2 .center h1{
    font-size: 3.5vw;
    margin-bottom: 5vw;
    margin-left: 2vw;

  }
  section.s2 .swiper{
    height: 40vw;
  }
  section.s2 .swiper .swiper-slide {
    height: 35vw;
  }
  section.s2 .swiper .c_top {
    height: 5.5vw;
    left: 1.7vw;
  }
  section.s2 .swiper .c_top h3 {
    font-size: 1.7vw;
    font-weight: 300;
    color: white;
  }
  section.s2 .swiper .c_top img {
    width: 27px;
    height: 27px;
    margin-top: 2vw;
  }
  section.s2 .c_bottom img {
    width: 5px;
    margin: 0.6vw 0 1vw;
  }
  
  section.s2 .c_bottom h2 {
    font-size: 2.7vw;
    line-height: 4.5vw;
    letter-spacing: -1px;
    margin-top: 10vw;
  }  
  section.s2 .c_bottom p {
    font-size: 1.7vw;
  }
  
  section.s2 .swiper .swiper-pagination{
    display: block;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  section.s2 .swiper-horizontal > .swiper-pagination-bullets{
    bottom: 0;
  }
  section.s2 .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    background: #eee;
    opacity: 1;
    width: 25%;
    border-radius: 0;
    height: 3px;
    margin: 0;
  }
  section.s2 .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active{
  background: #0c346d;
  opacity: 1;
  }

  /* 홀수번째 슬라이드의 위쪽 여백 없앰 */
  section.s2 .swiper .swiper-slide:nth-child(odd){
    margin-top: 0;
  }
  
  /* section.s3 */
  section.s3 .center{
    width: 96%;
    margin: 0 auto;
    z-index: 100;
    top: 0vw;
  }
  section.s3 .center > span{
    right: 50%;
    transform: translateX(50%);
    font-size: 2vw;
    margin-bottom: 6vw;
    top: -3vw;
  }
  section.s3 .center > h1 {
    right: 50%;
    transform: translateX(50%);
    font-size: 4vw;
    top: -1vw;
  }
  section.s3 .center .row .col-sm-12{
    height: auto;
  }
  section.s3 .center .row .col-sm-12 .s3_img{
    width: 45vw;
    height: 65vw;
    margin-top: 10vw;
    float: left;
  }
  section.s3 .center .row .col-sm-12 .s3_des{
    position: absolute;
    width: 35vw;
    bottom: -16vw;
  }
  section.s3 .center .row .s3_left .s3_des{
    right: 26vw;
  }
  section.s3 .center .row .s3_right .s3_img {
    margin-top: 20vw;
    float: left;
  }
  section.s3 .center .row .s3_right .s3_des {
    left: auto;
    text-align: left;
    position: absolute;
    width: 35vw;
    bottom: -16vw;
  }
  
  section.s3 .center .row .col-sm-12 .s3_des h5{
    font-size: 1.7vw;
  }
  section.s3 .center .row .col-sm-12 .s3_des h1{
    font-size: 3.5vw;
  }
  section.s3 .center .row .col-sm-12 .s3_des span{
    font-size: 2vw;
  }
  section.s3 .center .row .col-sm-12 .s3_des h3{
    font-size: 2vw;
    margin-bottom: 1.8vw;
  }
  section.s3 .center .row .col-sm-12 .s3_des p{
    font-size: 1.7vw;
    line-height: 3.5vw;

  }
  section.s3 .s3_ani3 {
    margin-right: 0;
    margin-left: -10vw;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.5s;
  }
  section.s3 .s3_ani3.active {
    margin-left: 0;
    opacity: 1;
  }
  section.s3 .s3_ani4 {
    margin-left: auto;
    right: 10vw;
    opacity: 0;
    transition: all 1s;
    transition-delay: 1.5s;
  }
  section.s3 .s3_ani4.active {
    margin-right: 0;
    opacity: 1;
    right:26vw;
  }

  

  section.s4{
    padding-top: 10vw;
  }
  section.s4 .center{
    width: 100%;
    margin: 0 auto;
  }
  section.s4 .center .acc{
    flex-flow: row wrap;
    padding-top: 2vw;
  }
  section.s4 .center .acc .acc_item{
    width: 48%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    margin-top: 4vw;
  }
  section.s4 .center .acc .acc_item p {
    display: none;
  }
  section.s4 .center .acc .acc_item h3 {
    font-size: 1.7vw;
    margin-top: -12.8vw;
  }
  section.s4 .center .acc .acc_item h2 {
    display: block;
    font-size: 2.1vw;
    line-height: 1.8vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.3vw;
    white-space: nowrap;
  }
  
  section.s5{
    margin-top: 15vw;
  }
  section.s5 .center{
    width: 96%;
    margin: 0 auto;
    margin-top: 8vw;
  }
  section.s5 .center .list ul li {
    width: 32%;
    margin-bottom: 3vw;
  }
  section.s5 .center .list ul li:first-child{
    display: none;
  }
  section.s5 .center .list ul li:last-child{
    display: none;
  }
  section.s5 .center .list ul li a p {
    font-size: 2vw;

  }
  
  section.s6{
    height: 80vw;
    background-color: #efefef;
    background-size: 100vw;
    background-position: top;
  }
  section.s6 .call_info{
    width: 80%;
    top: 20vw;
    padding: 5vw 6vw;
    right: 50%;
    transform: translateX(50%);
    background-color: #fff;
  }
  section.s6 .call_info .info_top h1 {
    font-size: 2.9vw;
    font-weight: bold;
    float: left;
    margin-right: 1vw;
  }
  section.s6 .call_info .info_top h2 {
    padding-left: 1vw;
    letter-spacing: 0.5vw;
    font-size: 1.8vw;
    font-weight: normal;
    margin-top: 2.8vw;
    white-space: nowrap;
  }  
  section.s6 .call_info .info_top img {
    width: 2.8vw;
    float: left;
    margin-right: 0.5vw;
    margin-bottom: 2vw;
  }  
  section.s6 .call_info .info_top h3 {
    font-size: 2.8vw;
    margin-top: 0vw;
    letter-spacing: -1px;
    color: #333;
  }    
  section.s6 .call_info .info_mid {
    padding: 2.3vw 0;
    width: 70%;
    margin: 1.5vw 0;
  }
  section.s6 .call_info .info_mid h5 {
    font-size: 2.3vw;
    margin-bottom: 1.9vw;
  }
  section.s6 .call_info .info_mid p {
    font-size: 1.7vw;
    line-height: 2.3vw;
  }
  section.s6 .call_info .info_bot {
    padding: 2vw 0;
  }
  section.s6 .call_info .info_bot p {
    font-size: 1.6vw;
    line-height: 1.5vw;
  }


  footer .footer_center{
    width: 100%;
    padding: 3vw 0;
    flex-flow: column nowrap;
  }
  footer .footer_center .footer_logo{
    order: 3;     /*3번째로 나열 , display:flex와 같이 사용*/
    width: 100%;
    text-align: center;
    margin-top: 2vw;
  }
  footer .footer_center .footer_logo a img {
    width: 17vw;
  }
  footer .footer_txt {
    order: 2;
    padding: 0.9vw;
    margin: 0 auto;
    width: 60%;
    text-align: center;
  }
  footer .footer_txt p {
    font-size: 1.7vw;
    font-weight: 500;
    line-height: 2.6vw;
  }
  footer .footer_txt span {
    font-weight: 100;
    font-size: 1.8vw;
    white-space: nowrap;
    opacity: 0.7;
  }
  footer .footer_center .footer_site {
    order: 1;
    width: 40%;
    height: 5vw;
    margin: 5vw auto 1vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  footer .footer_center .footer_site .sns {
    margin: 0.5vw 0;
  }
  footer .footer_center .footer_site .sns ul li {
    width: 6vw;
    height: 6vw;
  }
  footer .footer_center .footer_site .sns ul li i {
    color: #fff;
    width: 4vw;
    height: 4vw;
    text-align: center;
    font-size: 2.3vw;
    border-radius: 30%;
    background-color: #5982bd;
    padding: 0.1vw;
    padding-top: 0.9vw;
  }
  footer .footer_center .footer_site .family {
    border-radius: 60px;
    height: 4.8vw;
    position: relative;
  }
  footer .footer_center .family a span i {
    margin-left: 4vw;
    font-size: 2vw;
  }
  footer .footer_center .family.active a span i {
    font-size: 2vw;
  }  
  footer .footer_center .footer_site .family.active {
    height: 10vw;
  }
  footer .footer_center .footer_site .family a {
    font-size: 1.4vw;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    padding: 1.5vw 3vw;
    height: auto;
    margin-top: 0.1vw;
  }
  footer .footer_center .footer_site .family a:first-child {
    padding-left: 4vw;
    padding-top: 1vw;
  }  

  /* site map 주메뉴 */
  .sitemap{
    background-color: #fff;
    top: 0;
    left: auto;
    right: -100vw;
    opacity: 1;
    padding: 3vw 3vw;
    overflow-y: auto;
  }  
  .sitemap.active{
    right: 0;
  }
  .sitemap .site_logo{
    float: left;
    width: 18vw;
  }
  .sitemap .site_close{
    width: 4vw;
    top: 3.5vw;
  }
  .sitemap .site_nav{
    margin-top: 10vw;
    width: 100%;
  }
  .sitemap .site_nav ul{
    flex-flow: column nowrap;
  }
  .sitemap .site_nav ul li a{
    margin-top: 0;
    font-size: 2.3vw;
    text-align: left;
    color: #111;
    padding: 3vw;
    border-bottom: 1px solid #ccc;
  }
  .sitemap .site_nav ul.sub{
    padding: 0 0 2vw;
    border-bottom: 1px solid #ccc;
    display: none;
  }
  .sitemap .site_nav ul.sub li{
    margin: 0;
  }
  .sitemap .site_nav ul.sub li a{
    text-align: left;
    font-size: 2vw;
    border-bottom: none;
    color: #333;
    display: block;
    padding: 1.2vw 3vw;
    margin: 0;
  }
  .sitemap .site_nav > ul > li:hover > a:after{
    width: 0;
  }
  .sitemap .site_nav > ul > li > a.active{
    color: #2459a3;
  }
  .sitemap .site_sns{
    display: none;
  }

}
/* 모바일 버전 */
@media screen and (max-width: 480px) {
  header .header_wrap {
    padding: 4vw 5vw;
  }
  header .header_wrap .logo {
    width: 28vw;
    height: 9vw;
  }
  header .header_wrap .menu {
    width: 5vw;
    height: 5vw;
    margin-top: 1.3vw;
  }
  section{height: auto;}
  section.visual .swiper {
    width: 100vw;
  }  
  section.visual .swiper .swiper-slide .main_txt {
    line-height: 10vw;
  }
  section.visual .swiper .swiper-slide .main_txt i {
    width: 10vw;
  }
  section.visual .swiper .swiper-slide .main_txt h1 {
    font-size: 7vw;
    line-height: 10vw;
    padding: 0 12vw;
  }
  section.visual .swiper .swiper-slide .main_txt p {
    font-size: 3.6vw;
    line-height: 6vw;
    padding: 0 12vw;
  }
  section.visual .swiper .swiper-slide .main_txt h5 {
    font-size: 3.3vw;
   }
  section.visual .swiper .swiper-slide .main_txt a {
    margin: 5vw 0;
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
    
  section.visual .swiper .swiper-button-next,
  section.visual .swiper .swiper-button-prev {
    display: none;
  }
  .center{
    width: 100vw;
    margin: 0 auto;
  }
  section.s1 .center{
    width: 98%;
    margin: 0 auto;
    padding-left: 10vw;
  }
  section.s1 .company_txt span{
    font-size: 3.6vw;
  }
  section.s1 .company_txt h1{
    font-size: 6vw;
  }
  section.s1 .company_txt p {
    margin-top: 6vw;
    font-size: 3vw;
    line-height: 6vw;
    margin-bottom: 7vw;
  }  
  section.s2{
    height: 85vh;
  }
  section.s2 .center span {
    font-size: 3.6vw;
  }
  section.s2 .center h1{
    font-size: 6vw;
    margin-bottom: 7vw;
    margin-left: 2vw;
  }
  section.s2 .swiper{
    height: 90vw;
  }
  section.s2 .swiper .swiper-slide {
    height: 80vw;
  }
  section.s2 .swiper .c_top {
    height: 13vw;
    left: 3.1vw;
  }
  section.s2 .swiper .c_top h3 {
    margin-top: 5vw;
    font-size: 3.5vw;
  }
  section.s2 .swiper .c_top img {
    width: 25px;
    height: 25px;
    margin-top: 4.2vw;
  }
  section.s2 .c_bottom h2 {
    font-size: 5vw;
    line-height: 8vw;
    letter-spacing: -1px;
    margin-top: 20vw;
  }  
  section.s2 .c_bottom p {
    font-size: 3.2vw;
  }


  section.s3 .center{
    top: 0vw;
  }
  section.s3 .center > span{
    font-size: 3.6vw;
    margin-bottom: 6vw;
    top: -8vw;
  }
  section.s3 .center > h1 {
    font-size: 6vw;
    top: -5vw;
  }
  section.s3 .center .row .col-sm-12 .s3_img{
    width: 100%;
    height: 80vw;
    margin-top: 12vw;
    float: left;
    overflow: hidden;
    background-position: top;
  }
  section.s3 .center .row .col-sm-12 .s3_des{
    position: unset;
    width: 100%;
    height: auto;
    bottom: 0vw;
    margin-top: 10vw;
  }
  section.s3 .center .row .s3_left .s3_des {
    position: relative;
    bottom: 0vw;
    right: 0vw;
    margin-top: 0;
  }  
  section.s3 .center .row .s3_right .s3_des {
    text-align: left;
    position: relative;
    bottom: 0vw;
    left: 0vw;
    margin-top: 0;
  }  
  section.s3 .center .row .s3_left .s3_img{
    background-position: center;
  }  
  section.s3 .center .row .col-sm-12 .s3_des h5{
    font-size: 3.2vw;
  }
  section.s3 .center .row .col-sm-12 .s3_des h1{
    font-size: 6vw;
  }
  section.s3 .center .row .col-sm-12 .s3_des span{
    font-size: 3.7vw;
  }
  section.s3 .center .row .col-sm-12 .s3_des h3{
    font-size: 4vw;
    margin-bottom: 3vw;
  }
  section.s3 .center .row .col-sm-12 .s3_des p{
    font-size: 3.5vw;
    line-height: 6vw;
  }
  section.s3 .s3_ani3 {
    transition-delay: 0s;
  }
  section.s3 .s3_ani4 {
    transition-delay: 0s;
  }



  section.s4{
    padding-top: 0;
  }
  section.s4 .center{
    width: 100%;
    margin: 0 auto;
  }
  section.s4 .center .acc{
    flex-flow: column wrap;
    padding-top: 0.1vw;
  }
  section.s4 .center .acc .acc_item{
    width: 100%;
    height: 80vw;
    margin-top: 1vw;
  }
  section.s4 .center .acc .acc_item p {
    display: none;
  }
  section.s4 .center .acc .acc_item h3 {
    font-size: 3.5vw;
    margin-top: -8vw;
  }
  section.s4 .center .acc .acc_item h2 {
    display: block;
    font-size: 3.8vw;
    bottom: 3vw;
  }


  section.s5{
    margin-top: 20vw;
  }
  section.s5 .center{
    width: 94%;
    margin: 0 auto;
    margin-top: 6vw;
  }
  section.s5 .center .list ul li {
    width: 48%;
    margin-bottom: 3vw;
  }
  section.s5 .center .list ul li a p {
    font-size: 4vw;
  }


  section.s6{
    height: 120vw;
    background-color: #efefef;
    background-size: 130vw;
    background-position: top;
  }
  section.s6 .call_info{
    width: 90%;
    top: 25vw;
    padding: 5vw 6vw;
  }
  section.s6 .call_info .info_top h1 {
    font-size: 5vw;
    margin-right: 2vw;
  }
  section.s6 .call_info .info_top h2 {
    padding-left: 1vw;
    font-size: 3vw;
    margin-top: 6vw;
  }  
  section.s6 .call_info .info_top img {
    width: 5vw;
    float: left;
    margin-right: 1vw;
    margin-bottom: 2vw;
  }  
  section.s6 .call_info .info_top h3 {
    font-size: 5vw;
    margin-top: 0vw;
  }    
  section.s6 .call_info .info_mid {
    padding: 3vw 0;
    width: 70%;
    margin: 2vw 0;
  }
  section.s6 .call_info .info_mid h5 {
    font-size: 4vw;
    margin-bottom: 3vw;
  }
  section.s6 .call_info .info_mid p {
    font-size: 3vw;
    line-height: 4vw;
  }
  section.s6 .call_info .info_bot {
    padding: 2vw 0;
  }
  section.s6 .call_info .info_bot p {
    font-size: 2.7vw;
    line-height: 1.5vw;
  }


  footer .footer_center{
    width: 100%;
    padding: 3vw 0;
    flex-flow: column wrap;
  }
  footer .footer_center .footer_logo{
    margin-top: 4vw;
  }
  footer .footer_center .footer_logo a img {
    width: 30vw;
  }
  footer .footer_txt {
    order: 2;
    padding: 0vw;
    margin: 4vw auto 2vw;
    width: 90%;
  }
  footer .footer_txt p {
    font-size: 3vw;
    line-height: 3.5vw;
  }
  footer .footer_txt span {
    font-size: 3vw;
    white-space: normal;
    opacity: 0.7;
  }
  footer .footer_center .footer_site {
    order: 1;
    width: 60%;
    height: 8vw;
    margin: 5vw auto 0vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  footer .footer_center .footer_site .sns {
    margin: 0;
  }
  footer .footer_center .footer_site .sns ul li {
    width: 8vw;
    height: 8vw;
  }
  footer .footer_center .footer_site .sns ul li i {
    width: 6vw;
    height: 6vw;
    font-size: 3.5vw;
    padding-top: 1.5vw;
  }
  footer .footer_center .footer_site .family {
    border-radius: 60px;
    height: 7vw;
    position: relative;
  }
  footer .footer_center .family a span i {
    margin-left: 4vw;
    font-size: 2vw;
  }
  footer .footer_center .footer_site .family.active {
    height: 14vw;
  }
  footer .footer_center .footer_site .family a {
    font-size: 3vw;
    padding: 1.5vw 3vw;
    height: auto;
    margin-top: 0.1vw;
  }
  footer .footer_center .footer_site .family a:first-child {
    padding-left: 4vw;
    padding-top: 1.3vw;
  }  

  .sitemap .site_logo{
    width: 30vw;
  }
  .sitemap .site_close {
    top: 4vw;
    width: 5vw;
  }
  .sitemap .site_nav{
    margin-top: 10vw;
  }
  .sitemap .site_nav ul li a{
    margin-top: 0;
    font-size: 4.3vw;
    text-align: left;
    color: #111;
    padding: 4vw;
    border-bottom: 1px solid #ccc;
  }
  .sitemap .site_nav ul.sub{
    padding: 0 0 2vw;
    border-bottom: 1px solid #ccc;
    display: none;
  }
  .sitemap .site_nav ul.sub li{
    margin: 0;
  }
  .sitemap .site_nav ul.sub li a{
    font-size: 4vw;
    padding: 2vw 3vw;
    margin: 0;
  }


}